**1-Write a Python program to calculate the length of a string using 2 ways

In [1]:
x= input ("Enter Your string :")
print("The length of a string :",len(x))

Enter Your string :Eman
The length of a string : 4

In [1]:
name = "Eman"
counter = 0
for i in name:
    counter+=1
print("The length of a name:", counter)

The length of a name: 4

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [2]:
name = input("Enter your name:")
if len (name)<2:
    print(" ")
else :
        result=name[0]+name[1]+name[-2]+name[-1]
        print(result)

Enter your name:Ibrahim
Ibim

In [3]:
name = input("Enter your name:")
if len (name)<2:
    print(" ")
else :
        result=name[0]+name[1]+name[-2]+name[-1]
        print(result)

Enter your name:I

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [4]:
def add_ing_or_ly(str1):
    length = len(str1)
    if (length >= 3):
        if str1[-3:] == 'ing':
            str1 +='ly'
        else:
            str1 += 'ing'
        return str1
print(add_ing_or_ly('ab'))
print(add_ing_or_ly('abc'))
print(add_ing_or_ly('abing'))

None
abcing
abingly

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [5]:
def longestLength(words):
    res=max(words,key=len)
    print("The word with the longest length is:", res,
          " and length is ", len(res))
 
a = ['Orange', 'Yellow', 'Red', 'Purple', 'Green']
longestLength(a)

The word with the longest length is: Orange  and length is  6

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [4]:
name ="Eman"
print(name[-1]+name[1:-1]+name[0])

nmaE

In [5]:
name = "Eman"
x= name[0]
y= name[-1]
x,y = y,x
print(x+name[1:-1]+y)

nmaE

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [8]:
name = "Ibrahimovic"
for i in range (len(name)):
    if i %2==0 :
        print (name[i],end ="")
        i+1

Irhmvc

In [7]:
name = "Ibrahimovic"
name = name[::2]
name

'Irhmvc'

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [9]:
sentence = "Ahmed eats healthy, Ahmed doesn't smoke, be like Ahmed"
words = sentence.split()
wordset = set (words)
for i in wordset:
    print(i, words.count(i))

eats 1
Ahmed 3
doesn't 1
be 1
like 1
healthy, 1
smoke, 1

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [13]:
name = input ()
print (name. upper (), name. lower ( ),name.swapcase())

Eman
EMAN eman eMAN

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [14]:
str1=input("Enter your string:")
def  reverse_string(name):
    if len(name)%4==0:
        print(name[::-1])
reverse_string(str1)

Enter your string:Eman
namE

**10- Write a Python program to remove a newline in Python

In [15]:
name = "Eman\nAyman"
newname = ""
for i in name:
    if i == "\n":
        continue
    else:
        newname = newname+i
newname

'EmanAyman'

**11-Write a Python program to check whether a string starts with specified characters

In [16]:
str = "Atificial Intelligence"
x=input("Enter the specified characters :")
if str[:2]==x:
    print(True)
else :
        print(False)

Enter the specified characters :At
True

**12- Write a Python program to add prefix text to all of the lines in a string

**13-Write a Python program to print the following numbers up to 2 decimal places

In [17]:
my_float = 2.13956
f= round(my_float, 2)
print(f)

2.14

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [19]:
my_float = -2.13956
f= round(my_float, 2)
print(f)

-2.14

**15-Write a Python program to display a number with a comma separator

In [22]:
x = 300000
print(x)
print("{:,}".format(x));

300000
300,000

**16-Write a Python program to reverse a string using 2 ways

In [6]:
name = "Eman" [::-1]
print(name)

namE

In [7]:
name = "Eman"
result = ""
for i in range(len(name)) :
    result = result+name [len (name) -1-i]
result

'namE'

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [5]:
check_string = "programming"
for char in check_string:
    count = check_string.count(char)
    if count > 1:
        print( char, count)

r 2
g 2
r 2
m 2
m 2
g 2

**18-Write a Python program to find the first non-repeating character in a given string

**19-Write a Python program to remove spaces from a given string

In [6]:
name = "Eman Ayman"
newname = ""
for i in name:
    if i == " ":
        continue
    else:
        newname = newname+i
newname

'EmanAyman'

**20-Write a Python program to count the number of non-empty substrings of a given string

**21-write a Python program to swap first and last element of any list.

In [10]:
name = [x,'m','a',y]
x= name[0]
y= name[-1]
x,y = y,x
print(name)

['n', 'm', 'a', 'e']

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [11]:
mylist =[23, 65, 19, 90]
mylist[0],mylist[1],mylist[2],mylist[3] =mylist[2], mylist[1],mylist[0],mylist[3]
print(mylist)

[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [16]:
#Using the len() , length_hint() method to get the length of a list
list = ['Python', 'Java', 'Ruby', 'JavaScript']
print(len(list))

4

In [14]:
#Using a for loop to get the length of a list
list = ['Python', 'Java', 'Ruby', 'JavaScript']
counter = 0
for item in list:
    counter += 1
print(counter)

4

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [18]:
list={4,6,24,8}
print("Maximum of set is : ",max(list))

Maximum of set is :  24

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [19]:
print("Minimum of set is : ",min(list))

Minimum of set is :  4

**26-search for if an elem is existing in list

**27- clear python list using different ways

In [ ]:
print('list before clear:', list)

list.clear()
print('list after clear:', list)

In [ ]:
#Emptying the List Using del
del list[:]
print('list after clear:', list)

In [ ]:
#Using *=0
list *= 0
print('list after clear:', list)

In [ ]:
#List Re-Initialization
list = []
print("After deleting all elements\n")
print(list)
Output

**28-remove duplicated elements from a list

In [ ]:
sam_list = list(set(sam_list))

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [20]:
test_list = ['Gfg', 3, 'is', 8,'hij',9,'ghi',10,'lio',45]
key_list = ['name', 'id']
L = []
k = len(key_list)
n = len(test_list)
for i in range(0,n,k):
    print(i)
    L.append({key_list[0]: test_list[i], key_list[1] : test_list[i + 1]})
    print(L)
print(L)

0
[{'name': 'Gfg', 'id': 3}]
2
[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]
4
[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}, {'name': 'hij', 'id': 9}]
6
[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}, {'name': 'hij', 'id': 9}, {'name': 'ghi', 'id': 10}]
8
[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}, {'name': 'hij', 'id': 9}, {'name': 'ghi', 'id': 10}, {'name': 'lio', 'id': 45}]
[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}, {'name': 'hij', 'id': 9}, {'name': 'ghi', 'id': 10}, {'name': 'lio', 'id': 45}]

**30-write a python program to count unique values inside a list using different ways

In [1]:
input_list = [1, 2, 2, 5, 8, 4, 4, 8]
new_set = set(input_list)
print("No of unique items in the list are:", len(new_set))

No of unique items in the list are: 5

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [6]:
list1 = [4, 6, 4, 3, 3, 4, 3, 7, 8, 8]
K=3
lresult=[]
for i in list1:
    freq = list1.count(i)
    if freq >= K and i not in lresult:
        lresult.append(i)
print("The result : " + str(lresult))

The result : [4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [7]:
def comb(L):
    for i in range(3):
        for j in range(3):
            for k in range(3):
                if (i!=j and j!=k and i!=k):
                    print(L[i], L[j], L[k])
comb([1, 2, 3])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [25]:
from itertools import combinations
my_list = [1,2,3]
idx=0
temp1 = combinations(my_list,1)
temp2 = combinations(my_list,2)
for i in list(temp1):
    idx = idx+1
    print ("Combination", idx, ": ", i)
for i in list(temp2):
    idx = idx+1
    print ("Combination", idx, ": ", i)

Combination 1 :  (1,)
Combination 2 :  (2,)
Combination 3 :  (3,)
Combination 4 :  (1, 2)
Combination 5 :  (1, 3)
Combination 6 :  (2, 3)

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [28]:
 list1 = ["a","b"]
list2 = [1,2]
unique_combinations = []
 
for i in range(len(list1)):
    for j in range(len(list2)):
        unique_combinations.append((list1[i], list2[j]))
 
print(unique_combinations)

[('a', 1), ('a', 2), ('b', 1), ('b', 2)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [60]:
list1=[1,1,2,3,4,5,1,2,1]
list2=[]
for i in list1 :
    if i in list2 :
        continue
    list2.append(i)
print(list2)

[1, 2, 3, 4, 5]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

**44- Write a Python script to merge two Python dictionaries

**45-Write a Python program to get the maximum and minimum values of a dictionary values

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

**48-Write a Python program to unpack a tuple into several variables

**49-Write a Python program to add an item to a tuple

**50-Write a Python program to convert a tuple to a string

In [72]:
tuple1=("a","b","c")
list=[]
for i in tuple1:
    list.append(i)
for i in list:
  print(i,end=" ")
print (str(list))

a b c ['a', 'b', 'c']

**51-Write a Python program to convert a list to a tuple

In [73]:
list= ['a', 'b', 'c']
print(tuple(list))

('a', 'b', 'c')

**52-Write a Python program to reverse a tuple

In [74]:
x = ("Eman")
y = reversed(x)
print(tuple(y))

('n', 'a', 'm', 'E')

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [97]:
t = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:-1] + (100,) for t in l])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [ ]:
tuple=((1,2),(1,2,3))

**56-Write a Python program to add member(s) to a set.

In [2]:
myset = {"A","B","C"}
print(myset)
myset.add("s")
print(myset)

{'A', 'B', 'C'}
{'s', 'A', 'B', 'C'}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [ ]:
#The sets cannot have multiple occurrences of the same element

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

**59-Write a Python program to find the maximum and minimum values in a set

In [17]:
set={4,6,24,8}
print("Minimum of set is : ",min(set))
print("Maximum of set is : ",max(set))

Minimum of set is :  4
Maximum of set is :  24

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [1]:
def pairs(list1, x):
    result_list = []
    for i in range(len(list1)):
        for j in range(i +1, len(list1)):
            if list1[i] + list1[j] ==x:
                result_list.append((list1[i], list1[j]))
    return result_list
list1 =[1,2,3,4,5,6]
x = int (input(" sum value "))
print(pairs(list1, x))

 sum value 7
[(1, 6), (2, 5), (3, 4)]